.title1{
    color: red;
    font-size: 50px;
    font-style: italic;
}
.title2{
    color: blue;
    font-size: 40px;
    font-weight: bold;
}
#description{
    color: green;
    font-size: 20px;
    line-height: 1.5;
}