.line-1{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.line-2{
    width: 100px;
    height: 100px;
    border: 1px solid red;
 
}
.line-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    height: 100vh;
    border: 1px solid goldenrod;
    align-items: center;
}
.line-4
{
    width: 100px;
    height: 100px;
    border: 1px solid blue;
}
.line-3{
    width: 100px;
    height: 100px;
    border: 1px solid green;
}